.app-footer {
  font-family: roberto, sans-serif;
    position:relative;
    color: var(--clr4);
    text-align: center;
    height: 4vh;
    padding: 10px;
    background-color: var(--columbia-blue);
  }
  
  .app-footer p {
    margin: 0;
  }
  