.app-header {
  position: relative;
  font-family: roboto, Sans-serid;
  background-color: var(--clr5);
  color: var(--secondary-clr1);
  padding: 1em;
  margin-bottom: 30px;
}

.app-header a{
  padding:20px;
  font-size: 1.5em;
}

.app-header span{
  position: absolute;
  bottom:17px

}

@media(max-width: 720px) {
  .app-header {
    background-color: var(--clr3);
    color: var(--secondary-clr2);
  }
}
