.keep-preview{
    position: relative;
    /* background: #efc8c8; */
    padding: 1em;
    border: 1px solid lightgray;
    border-radius: 1em;
    margin-block-end: 1em;
    /* max-height: 50%; */
    break-inside: avoid;
}



.keep-preview .actions{
    display: flex;  
    /* gap:15px; */
    /* width:30px; */
    opacity: 0;  
    /* padding-left: 5%; */
  }

  .keep-preview:hover .actions {
      opacity: 1;
    }

  .pin{
    position: absolute;
    top: 0.5em;
    right: 0.5em; 
  }

  .btn-close{
    position: absolute;
    bottom: 1em;
    right: 1em; 
  }



   /* .preview h3{
    capit
  }  */
