.email-preview {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    position: relative;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
  }
  
  .email-checkbox {
    margin-right: 10px;
  }
  .email-preview h2 {
    font-family: Roboto, sans-serif;
    /* line-height: 1; */
    font-size: .875rem;
    text-align: left;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
  }
  
  h2.from-preview{
    width:20%
  }
  
  h2.content-preview {
    width:50%;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
  
  .subject-preview {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
  }
  
  .body-preview {
    margin-left: 10px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    color: rgb(163, 158, 158);
  }
  
  .date-preview {
    position: absolute;
    width:20%;
    white-space: nowrap;
    right: 40px;
    bottom: 0;
    direction: rtl;
  }
  
  .email-preview:hover {
    box-shadow: inset 2px 0 0 #dadce0, inset -2px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, 0.3),
      0 1px 3px 1px rgba(60, 64, 67, 0.15);
  }
  
  .unread-email {
    color: var(--clr5);
  }
  
  .read-email {
    background-color: var(--clr2);
    color: #6f6f71;
  }
  