.email-preview {
    display: flex;
    align-items: flex-start; 
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid lightgray;
}

.email-preview h2 {
    flex-grow: 1;
    width: 0;
    line-height: 1.4;
    font-size: 1.2em;
    text-align: left;
    color: var(--beighe);
  }
  
  .email-preview h3 {
    padding-left: 5px;
    font-size: 0.8em;
    line-height: 0;
    margin-left: 10px; 
  }
  
  .email-preview:hover {
    box-shadow: inset 2px 0 0 #dadce0, 
    inset -2px 0 0 #dadce0, 
    0 1px 2px 0 rgba(60, 64, 67, 0.3),
     0 1px 3px 1px rgba(60, 64, 67, 0.15);
  }
  
  .date-preview {
    position: absolute;
    right: 20px;
    bottom: 0;
    font-size: 0.8em;
    color: #888;
  }
  
  .unread-email {
    background-color: var(--clr2);
  }
  