.email-preview {
  
    display: flex;
    justify-content: space-between;
    gap: 80px;
    align-items: center;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
  }
  
  .email-preview h2 {
    font-family: Roboto, sans-serif;
    /* line-height: 1; */
    font-size: .875rem;
    text-align: left;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
  }

  .content-preview {
    font-family: Roboto, sans-serif;
    font-size: .875rem;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    width: 40%;
  }
  
  .subject-preview {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
  }
  
  .body-preview {
    margin-left: 10px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    color: rgb(163, 158, 158);
  }
  
  .date-preview {
    padding-right: 8%;
    white-space: nowrap;
    direction: rtl;
  }
  
  .email-preview:hover {
     box-shadow: inset 2px 0 0 #dadce0, inset -2px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, 0.3),
      0 1px 3px 1px rgba(60, 64, 67, 0.15);
  }
  
  .actions{
    display: flex;  
    gap:15px;
    width:30px;
    opacity: 0;  
    padding-left: 5%;
  }
  
  .email-preview:hover .actions {
    opacity: 1;
  }

  .actions span:hover{
    background-color: lightgray;
    border-radius: 100%;
  }
  .unread-email {
    color: var(--clr5);
  }
  
  .read-email {
    background-color: var(--clr2);
    color: #6f6f71;
  }
  